body{

    /*opacity: 0.5;*/
}
.backgroung-landing{
    background:url("./images/carrot.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: relative;
}
.backgroung-form{
    background-color: rgba(232, 227, 223, 0.8);;
    alignment: right;
    margin-top: 5%;

    /*height: 200px;*/
}
.text-landing{
    padding-top: 23%;
    font-weight: bold;
    padding-left: 15%;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;

}
.headerBg{
    background-color: #f7f7f7;
}
.title-logo{
    margin-left: 15%;
}
.text-right{
    float: right;
}

.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.padding{
    padding-left: 10%;
    width: 30%;
}
.slide-backgroung{
    background: url("./images/carrot.jpg");
}

.applicant-background{
    background-image: url("./images/insta_home.jpg");
    height: 100%;
    overflow: hidden;
    /*z-index: 1;*/
    /*opacity: 0.7;*/


}

div.transbox {
    margin: 10%;
    background-color: rgba(255, 255, 255, 0.78);
    border: 1px solid black;
    /*opacity: 0.6;*/
    filter: alpha(opacity=60); /* For IE8 and earlier */
    /*padding-top: 200px;*/
    height: auto;
}

.text{
    color: #000;
    text-align: center;
    /*padding-top: 15%;*/
    font-weight: bold;
    /*font-size: xx-large;*/
}
.bold-text{
    font-weight: bold;
    opacity: 1;
}
.padding-left{
    padding-left: 2%;
}
.modal-background{
    opacity: 0.1;
}
.padding-top{
    padding-top: 0rem !important;
}

.margin-button{
    margin-top: 5%;
    margin-left:50%;
}
.slide-header{
    /*padding-left: 5%;*/
    padding-left: 50px;
    color: white;
    font-weight: bold;
}
.slide-content{
    background-color: rgba(125, 123, 123, 0.71);
    height: 200px;
    /*margin-top: 10%;*/
    margin-bottom: 10%;
    width: auto;
    padding-left: 5%;
    color: white;
    font-size: medium;
}
.footer{
    padding: 5%;
    padding-left: 30%;
}
.login-border{
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;

}
.font-dark{
    color: black !important;
}
.margin{
    margin-top: 2%;
}
.legal{
    color:#939291;
    font-weight:normal;
    font-size:12px;
    line-height:17px
}
