{% extends "shopper/base.html" %}

{% block header %}
{% endblock %}

{% block content %}
{% if invalidEmail %}
    <script>
    $(function() {
        console.log("aaa");
      $('#login').modal({show: true});
    });
    </script>
{% elif messages %}
    <script>
    $(function() {
      $('#myModal').modal({show: true});
        $('#fname').attr('value', '{{ first_name}}');
        $('#lname').attr('value', '{{ last_name}}');
        $('#email').attr('value', '{{ email}}');
        $('#city').attr('value', '{{ city}}');
        $('#state').attr('value', '{{ state}}');
    });
    </script>
{% endif %}

<div class="backgroung-landing">
    <div class="row headerBg">

            <div class="col-lg-8  " >
                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="row">
                        <div class="col-md-10"><a class="navbar-brand " href="/shopper"><img class="title-logo" src="/static/images/instacart-logo.png"></a></div>
                        <div class="collapse navbar-collapse col-md-2" id="navbarNav" >
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/shopper">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-dark"  data-toggle="modal" data-target="#login">Login </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>


            </div>
    </div>
    <div class="container">
        <!-- Content here -->

        <form class=" row backgroung-form ">

            <div id="carouselExampleIndicators" class="carousel slide slide-backgroung col-md-7" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
                </ol>
                <div class="carousel-inner " role="listbox">
                    <div class="carousel-item row active">
                        <!--<img class="d-block img-fluid" src="slideImage.jpg" alt="First slide">-->
                        <div class="row slide-header"><h2>What's the right fit for you?</h2></div>
                        <div class="row slide-content">
                            <div class="col-sm-12">
                                <h5>In-Store Shopper</h5>
                                <div >Shop for grocery orders in local stores.</div>
                                <ul>
                                    <li>Shopping only</li>
                                    <li>No vehicle required</li>
                                    <li>Flexible schedule</li>
                                    <li>Work up to 29 hrs/wk</li>
                                </ul>
                            </div>
                            
                        </div>

                    </div>
                    <div class="carousel-item row">
                        <!--<img class="d-block img-fluid" src="slideImage.jpg" alt="Second slide">-->
                        <div class="row slide-header"><h2>What's the right fit for you?</h2></div>
                        <div class="row slide-content ">
                            <div class="col-sm-12 ">
                                <h5>Full Service Shopper</h5>
                                <div>Shop for groceries and deliver them to customers</div>
                                <ul>
                                    <li>Delivery and shopping</li>
                                    <li>Vehicle required</li>
                                    <li>Flexible schedule</li>
                                    <li>Work up to 29 hrs/wk</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="col-md-5">
                <div class="row container">
                    <p class="text-landing"> Want to be an Instacart Shopper? <br> Click on "Sign up Now" 
                    </p>
                    <button type="button" class="btn btn-success margin-button" data-toggle="modal" data-target="#myModal">Sign up Now</button>

                    <a class="btn btn-success margin-button"  data-toggle="modal" data-target="#login">Login </a>

                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Get paid to shop!</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form role="form" method="post" action="/shopper/register/">
                                        {% csrf_token %}
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="fname" id="fname" class="form-control input-sm" placeholder="First Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="lname" id="lname" class="form-control input-sm" placeholder="Last Name" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="email" id="email" class="form-control input-sm" placeholder="Email Address" >
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Phone Number">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="phone_type" id="phone_type" class="form-control input-sm" placeholder="Phone Type">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="region" id="region" class="form-control input-sm" placeholder="Region">
                                                    </div>
                                                </div>
											
												<div class="col-xs-6 col-sm-6 col-md-6">
                                                    <div class="form-group">
														<input type="checkbox" id="over_21" name="over_21" value="over_21">
														<label for="over_21">Over 21?</label>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--<input type="submit" value="Register" class="btn btn-info btn-block">-->

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="continue" class="btn btn-success"  onclick="validateEmail()">Continue</button>
                        </div>
                        <div>
                            <p class="legal" align="center">
                                We'll use this information to communicate with you throughout the process.
                        </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal2 -->

            <div class="modal fade" id="agreementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">ALMOST DONE
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            We need to run a background check to complete your application.
                            Can we run one on your behalf?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmation" data-dismiss="modal" onclick="addAttribute()" >I Agree</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MoDal3-->

            <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalheader">Confirmation
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            YOU'RE ALL SET! Look out for an email from us in the next 24 hours
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="/shopper/register/" id="form" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success margin">Ok</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

            <!-- MoDal4-->

            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form method="post" action="/shopper/login/">
                    <div class="modal-content">
                        <div class="modal-header login-border">
                            <h5 class="modal-title" id="loginheader">Login </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class=" row form-group padding-left">
                         <form method="post" action="/shopper/login/">
                            <label class="control-label col-md-2 ">Email:</label>
                            <input type="email" name="email" id="loginemail" class="form-control input-sm col-sm-8" value="{{ invalidEmail}}">
                         </form>
                        </div>
                        <div class="modal-footer login-border">
                            <button type="button" class="btn btn-secondary padding-top" data-dismiss="modal">Close</button>

                            {% csrf_token %}
                                <button type="submit"  class="btn btn-success">OK</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

        </form>
        </div>
    </div>
</div>

{% endblock %}